body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Bangers";
    background-color: #FFF19B;
}

.heading {
    font-size: 60px;
    font-weight: bolder;
    margin: 15px;


}


.main-container {
    background-color: #2C2C2C;
    height: 600px;
    width: 400px;
    border-radius: 10px;
}


.display{
    height: 80px;
    background-color: #F7374F;
    margin: 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calculator-buttons {
    display: flex;
    height: 460px;
    background-color: #471396;
    margin: 20px 15px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
}

.btn {
    height: 80px;
    width:80px;
    background-color: #ECDFCC;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.mini-display {
    font-size: 25px;
    padding: 8px;
    
}

.mini-display, .max-display {
    font-weight: bolder;
    padding: 6px;
}

.max-display{
    font-size: 30px;
}

.btn:hover {
    background-color: #9EC8B9;
}

.equal {
    width: 170px;
}
